.header {
    height: 480px;
    padding: 40px;
    background-image: url(coolbackgrounds-gradient-cool.png);
    background-size: cover;
    text-align: center;
    color: white;
    clear: both;

}

.header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid yellow;
    margin-top: 40px;
}

.header h1 {
    font-size: 100px;
    color: white;
    margin: 10px;
}


.left {
    text-align: center;
    padding: 20px;
    width: 20%;
    float: left;
}

.right {
    line-height: 2;
    background: white;
    flex-direction: row;
    width: 70%;
    float: left;

}

.pilt {
    margin-right: 100px;
}

footer {
    font-size: 32px;
    padding: 40px;
    text-align: center;
    background: #f7c202;
    color: white;
    clear: both;
}

.container {
    height: 600px;
    font-size: 20px;
    line-height: 2;
}